/*
    pallete:
    233D4D charcoal
    FE7920 pumpkin
    FCCA46 sunglow
    A1C181 olivine
    619B8A zomp
*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;   
}

.content {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(130deg, #233D4D, #619B8A);
    padding: 10px;
}

.main_window {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 80%;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
}

.main_window h1 {
    font-size: 42px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 65px;
    color: #619B8A;
}

#icon {
    margin-left: 10px;
    width: 50px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #82b0a2;
    color: white;
    border-radius: 30px;
}

.input_box {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#add_button {
    font-weight: bold;
    border: none;
    outline: none;
    background-color: #c1c1c1;
    padding: 20px 40px;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
}

#add_button:hover {
    background-color: #797979;
}

#list_container {
    font-size: 16px;
    font-weight: bold;
    color: #568A7B;
    list-style-type: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

#list_container div {
    display: flex;
    margin-top: 35px;
}

#list_container .item_input_box {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    border-radius: 20px;
    background-color: #cde0da;
    margin-left: 3px;
    margin-right: 3px;
    flex: 1;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    outline: none;
}

#list_container .item_input_box:hover {
    background-color: #9bc0b4;
}
.x_button {
    display: flex;
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 20px;
    margin-right: 12px;
    margin-top: 3px;
    background-color: #c1c1c1;
    cursor: pointer;
}

.x_button:hover {
    background-color: #797979;
}